.container
  %h3 Boards

  %p= link_to '+', new_board_path, class: 'btn btn-primary'

  %table.table
    %thead
      %tr
        %th ID
        %th Title
        %th Updated At
        %th
    %tbody
      - @boards.each do |board|
        %tr
          %th{scope: 'row'}= board.id
          %td= link_to board.title, board_path(board)
          %td= board.updated_at
          %td
            = link_to 'Edit', edit_board_path(board)
            = link_to 'Destroy', board_path(board), method: :delete, data: { confirm: 'Are you sure ?' }
